THIS IS AN EXAMPLE USE YOUR OWN ENV!!!

SECRET_KEY IS HARDCODED IN config.py PLEASE CHANGE IT!!!!

DATABASE_URL=sqlite:///./app.db

# JWT Secret CHANGE THIS; I MEAN IT!!!
SECRET_KEY=change-this-to-a-random-string

# KoboldAI (for Lottie)
KOBOLDAI_URL=http://localhost:5001
